$font-family-sans-serif:  'Montserrat', sans-serif;
@import "../node_modules/bootstrap/scss/bootstrap";

h1 {
    font-weight:900;
}


body {
    padding-top: 10vw;
}

img.profilbild
{
    width:130px;
    height:130px;
}

footer a {

}